PORT=3020

DB_SERVER=localhost
DB_PORT=1433
DB_NAME=dbAuth
DB_USER=sa
DB_PASSWORD=

JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=8h

FRONTEND_URL=http://localhost:5173
GATEWAY_URL=http://localhost:3000
